body {
  text-align: center;
  margin:auto;
}

.color {
  border: 1px black solid;
  display: inline-block;
  height: 50px;
  width: 50px;
}

#pixel-board div {
  display: inline-block;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  
}

.pixel {
  background-color: white;
  margin-top: -5px;
}

#color-palette {
  margin:auto;
  margin-bottom: 20px;
}

.class-btn-clear {
  position: top;
}

section {
  background-color: white;
}

button {
  margin-bottom: 25px;
}